@keyframes first {
    0%      {border-color: red; left:18px; top:20px;}
    25%     {border-color: red; left:500px; top:20px;}
    50%     {border-color: red; left:500px; top:200px;}
    75%     {border-color: red; left:500px; top:200px;}
    100%    {border-color: red; left:500px; top:200px;}    
}
@keyframes second {
    0%      {border-color: red; left:500px; top:200px;}
    25%     {border-color: red; left:270px; top:200px; transform: rotate(0)}
    50%     {border-color: red; transform: rotate(45deg);}
    75%    {border-color: red; left:270px; top:200px; transform: rotate(0)}
    100%    {border-color: blue; left:20px; top:204px; background: transparent; height: 73px; width: 73px; border-radius: 0;}
}
@keyframes third {
    0%      {border-color: blue; left:20px; top:204px; background: transparent; height: 73px; width: 73px; border-radius: 0;}
    100%    {border-color: transparent; left:440px; top:440px; background: radial-gradient(#f8d161, #f76b1c); height: 150px; width: 150px; border-radius: 150px;}
}
#hero {
    border: 1px dashed red;
    position: absolute;
    display: block;
    height: 73px;
    width: 73px;
    animation: first 10s 0s infinite,
               second 5s 5s infinite,
               third 5s 10s infinite;
}
#stage {
    height: 600px;
    width: 600px;
    position: relative;
}